<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>Super Metroid</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/super-bomberman-4-snes-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>"Super Bomberman 4" é um jogo de ação e quebra-cabeça onde o jogador controla Bomberman, um herói conhecido por usar bombas para derrotar inimigos e abrir caminho por labirintos. O enredo não é tão profundo quanto outros jogos de aventura, focando principalmente na jogabilidade e na mecânica de quebra-cabeças.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>