<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>Super Metroid</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/super-metroid-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>O jogo segue a caçadora de recompensas 
                Samus Aran em uma missão para resgatar um Metroid 
                bebê capturado pelo vilão Ridley. O enredo se passa em 
                um planeta misterioso chamado Zebes, onde Samus explora vastas cavernas, áreas subaquáticas, e instalações 
                alienígenas enquanto enfrenta diversos inimigos e chefes.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>