<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>Castlevania IV</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/SuperCastlevaniaIV-snes-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>O jogo se passa na Transilvânia e segue Simon Belmont, um caçador de vampiros da família Belmont, em sua missão para derrotar o temido Conde Drácula. Simon é convocado pelo clã Belmont para enfrentar Drácula, que retornou do além-túmulo com o objetivo de espalhar o mal sobre o mundo.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>