<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Donkey Kong Country 2</title>
</head>
<body>
    <header>
        <h1>Super Metroid</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/donkey-kong-country-2-diddy-s-kong-quest-snes-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>Após os eventos de "Donkey Kong Country", onde Donkey Kong foi capturado por King K. Rool, Diddy Kong, seu sobrinho, decide embarcar em uma jornada para resgatá-lo. Diddy recebe a ajuda de Dixie Kong, uma habilidosa amiga e parceira, para enfrentar os desafios que os aguardam.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>