<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>Killer Instinct</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/Killer-Instinct-snes-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>O enredo de "Killer Instinct" gira em torno de um torneio de luta organizado pelo mega-corporação Ultratech. Participantes de diferentes origens e habilidades se reúnem para competir, cada um com seus próprios motivos para vencer o torneio.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>