<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>street fighter II</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/street-fighterII-turbo-hyper-fighting-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>"Street Fighter II" coloca os jogadores no papel de lutadores de várias partes do mundo que competem no torneio mundial Street Fighter, organizado pelo sinistro M. Bison. Cada personagem tem suas próprias motivações para entrar no torneio, desde busca por vingança até provas de habilidade.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>
</html>