<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>X-Men Mutant Apocalypse</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/x-men-mutant-apocalypse-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>No jogo, os jogadores assumem o controle de vários membros dos X-Men, cada um com suas próprias habilidades mutantes únicas. O enredo gira em torno de uma ameaça iminente contra os mutantes, que devem se unir para enfrentar uma série de desafios e vilões poderosos.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>