<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/details.css">
    <title>Super MEtroid</title>
</head>
<body>
    <header>
        <h1>Legend of Zelda: A link to the past</h1>
    </header>

    <main>
        <div class="box-details">
            <img src="../images/legend-of-zelda-the-a-link-to-the-past-eu-cover-340x483.webp" alt="" width="340px">
            <h3>Detalhes:</h3>
            <p>O jogo segue as aventuras de Link, um jovem herói destinado a salvar o reino de Hyrule. A história começa quando Link é chamado pelo Espírito da Triforce para resgatar a Princesa Zelda, que foi capturada pelo malévolo feiticeiro Agahnim.
            </p>
            <div class="btn-download">
                <button>Downlaod(Fast)</button>
                <button>Downlaod(Slow)</button>
            </div>
            
        </div>
    </main>
</body>